.App.light {
    .hero-left-side {
      background-color: grey;
    }
    
    footer {
      text-align: center;
      padding-top: var(--gap-desktop-40);
      padding-bottom: var(--gap-desktop-40);
      background: linear-gradient(
        #D0D0D0,
        #FFFFFF 50%
      );
    }
}
