.App.dark {
    background-color: #000000;
    color: #FFFFFF;
    .hero-left-side {
      background-color: #333333;
    }
    
    footer {
      text-align: center;
      padding-top: var(--gap-desktop-40);
      padding-bottom: var(--gap-desktop-40);
      background: linear-gradient(
        #333333,
        #000000 50%
      );
    }
}
